#tcentre
{
    text-align: center;
}
#intro
{
    background-color: antiquewhite;
    padding: 120px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 3s ease-in-out forwards;
}
.content
{
    animation: pulse 3s linear;
    animation-timeline: scroll(root block);
    background-color: white;
    padding: 60px;;
    text-align: center;
    opacity: 1;
    /* transform: translateY(100px); */
    
    
}
.body
{
    background-color: aliceblue;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
